input,textarea,select{
    padding: 4px;
    border: 1px solid lightgray;
    width: 100%;
    border-radius: 6px;
    font-size: 1.1rem;
    margin-bottom: 20px;

}

input[type="submit"]{
    border: 1px solid lightgray;
    background-color: lightpink;
    background-color: var(--primary-color);
    color: #fff;
    font-size: 1.6rem;
}

.income-content{
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 20px;
    padding-top: 20px;
}
.income-content > div {
    border: 1px solid lightgray;
    padding: 10px 14px;
    border-radius: 6px;
}

.form-container label{
    font-size:1.1rem
}

.transaction-container {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid rgb(191, 191, 191);
    position: relative;
}
.transaction-container:not(:last-of-type){
margin-bottom: 14px;
}

.transaction-container .amount {
    font-weight: 900;

}
.transaction-container .text-sm {
    font-size:13px
}

.transaction-container .text-sm.type {

    position: absolute;
    padding: 2px 4px;
    border-width: 1px;
    border-style: solid;
    border-radius: 6px;
    top: 10px;
    right: 10px;
    background-color: white;
}

