input,textarea{
    padding: 8px;
    border: 1px solid lightgray;
    width: 100%;
    border-radius: 6px;
}

input[type="submit"]{
    border: 1px solid lightgray;
    background-color: lightpink;
    background-color: var(--primary-color);
    color: #fff;
    font-size: 1.6rem;
}

.income-content{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 20px;
}

.transaction-container {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid rgb(191, 191, 191);
}
.transaction-container:not(:last-of-type){
margin-bottom: 14px;
}

.transaction-container .amount {
    font-weight: 900;

}
.transaction-container .description {
    font-size:13px
}