input,textarea,select{
    padding: 4px;
    border: 1px solid lightgray;
    width: 100%;
    border-radius: 6px;
    font-size: 1.1rem;
    margin-bottom: 20px;

}

input[type="submit"]{
    border: 1px solid lightgray;
    background-color: lightpink;
    background-color: var(--primary-color);
    color: #fff;
    font-size: 1.6rem;
}
.transaction-content{
    display: grid;
        grid-template-columns: 50% 50%;
        column-gap: 20px;
         padding-top: 20px;
}
.income-content{
    /* display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 20px; */
    /* padding-top: 20px; */
}
.income-content > div {
    border: 1px solid lightgray;
    padding: 10px 14px;
    border-radius: 6px;
}

.form-container label{
    font-size:1.1rem
}

.transaction-container {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid rgb(191, 191, 191);
    position: relative;
}
.transaction-container:not(:last-of-type){
margin-bottom: 14px;
}

.transaction-container .amount {
    font-weight: 900;

}
.transaction-container .text-sm {
    font-size:13px
}

.transaction-container .text-sm.type {

    position: absolute;
    padding: 2px 4px;
    border-width: 1px;
    border-style: solid;
    border-radius: 6px;
    top: 10px;
    right: 10px;
    background-color: white;
}


/* LOADER */

.loader-wrapper{
    position: fixed;
    background-color: white;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}
.loader1 {
    z-index: 101;
        position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
    display: inline-block;
    font-size: 0px;
    padding: 0px;
}

.loader1 span {
    vertical-align: middle;
    border-radius: 100%;

    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 3px 2px;
    -webkit-animation: loader1 0.8s linear infinite alternate;
    animation: loader1 0.8s linear infinite alternate;
}

.loader1 span:nth-child(1) {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
    background: rgba(245, 103, 115, 0.6);
}

.loader1 span:nth-child(2) {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
    background: rgba(245, 103, 115, 0.8);
}

.loader1 span:nth-child(3) {
    -webkit-animation-delay: -0.26666s;
    animation-delay: -0.26666s;
    background: rgba(245, 103, 115, 1);
}

.loader1 span:nth-child(4) {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
    background: rgba(245, 103, 115, 0.8);

}

.loader1 span:nth-child(5) {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
    background: rgba(245, 103, 115, 0.4);
}

@keyframes loader1 {
    from {
        transform: scale(0, 0);
    }

    to {
        transform: scale(1, 1);
    }
}

@-webkit-keyframes loader1 {
    from {
        -webkit-transform: scale(0, 0);
    }

    to {
        -webkit-transform: scale(1, 1);
    }
}